#header {
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 10;
}

.circle {
    margin-top: -19px;
    max-height: 100px!important;
    padding: 15px 0!important;
}

.name {
    color: black;
    font-size: 1.875rem;
    position: absolute;
    letter-spacing: -.025em;
    font-weight:700;
}